<h1 id="tableLabel">{{ tableName }}</h1>

<p>This list represents curated list of links for user</p>

<p *ngIf="!linkEntries"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="linkEntries">
  <thead>
    <tr>
      <th>Id</th>
      <th>UserName</th>
      <th>Name</th>
      <th>Link</th>
      <th>Summary</th>
      <th>Tags</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let entry of linkEntries">
      <td>{{ entry.id }}</td>
      <td>{{ entry.userName }}</td>
      <td>{{ entry.name }}</td>
      <td><a href="{{ entry.targetUrl }}">Go</a></td>
      <td>{{ entry.description }}</td>
      <td>
        <span *ngFor="let tag of entry.tags">{{ tag.name }}, </span>
      </td>
    </tr>
  </tbody>
</table>

<!-- Trigger the modal with a button -->
<button type="button" class="btn btn-dark btn-lg" data-toggle="modal" data-target="#myModal">Add new entry</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <form #registerForm="ngForm" >
      <div class="modal-header">
        <h4 class="modal-title">Add new link entry</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-lg-4">Name</div>
          <div class="col-lg-8"><input name="name" ngModel #name="ngModel"></div>
        </div>
        <div class="row">
          <div class="col-lg-4">Target URL</div>
          <div class="col-lg-8"><input name="targetUrl" ngModel #targetUrl="ngModel"></div>
        </div>
        <div class="row">
          <div class="col-lg-4">Image URL</div>
          <div class="col-lg-8"><input name="imageUrl" ngModel #imageUrl="ngModel"></div>
        </div>
        <div class="row">
          <div class="col-lg-4">Description</div>
          <div class="col-lg-8"><textarea name="description" ngModel #description="ngModel"></textarea></div>
        </div>
        <div class="row">
          <div class="col-lg-4">Tags (sep. by ",")</div>
          <div class="col-lg-8"><input name="tags" ngModel #tags="ngModel"></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" (click)="onSubmit(registerForm)" class="btn btn-dark" data-dismiss="modal">Add entry</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>

  </div>
</div>
